services:
  backend:
    build: ./backend
    container_name: laravel_api
    volumes:
      - ./backend:/var/www
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    command: php artisan serve --host=0.0.0.0 --port=8000
    tty: true
    networks:
      - app-network

  frontend:
    image: node:24-alpine
    container_name: next_frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm run dev"
    networks:
      - app-network

  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: laravel
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

  dbeaver:
    image: dbeaver/cloudbeaver:latest
    container_name: dbeaver
    restart: always
    ports:
    - "8080:8978"
    volumes:
      - dbeaver_data:/opt/cloudbeaver/workspace
    environment:
      - CB_SERVER_PORT=8978
    depends_on:
      - postgres
    networks:
      - app-network

volumes:
  pgdata:
  dbeaver_data:

networks:
  app-network:
    driver: bridge
